
.button {

}

.btn-group .button {
  border-radius:13px; 
  border:0px;
  background-color: teal; 
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  width: 180px;
  height: 40px;
  display: block;
  opacity: 1;
  margin-bottom: 10px;
  height: 60px; 
 
}


.btn-group .layer1 {
position: absolute;
top: 526px;
left: 300px; 
}


.btn-group .layer1a {
position: absolute;
top: 125px;
left: 600px; 

}

.btn-group .layer2 {
position: absolute;
top: 351px;
left: 600px; 
}

.btn-group .layer3 {
position: absolute;
top: 770px;
left: 600px; 

}

.btn-group .layer4 {
position: absolute;
top: 210px;
left: 900px; 

}

.btn-group .layer5 {
position: absolute;
top: 530PX;
left: 600px; 

}


.buttonHover {
  stroke:purple;
  stroke-width:2;
  fill:none; 
}

@keyframes dash {
    to {
        stroke-dashoffset: 10;
    }
}

